* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 1rem;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  background-color: #EEEEE4;
}

body h2 {
  font-weight: 700;
}

body ul li {
  cursor: pointer;
  list-style: none;
}

body ul li a {
  text-decoration: none;
  color: inherit;
}

.logo h1 {
  font-weight: 700;
}

.logo img {
  filter: drop-shadow(-2px 2px 2px rgba(0,0,0,0.4));
}

.navbar {
  background-color: #E6DD3B;
  height: 50px;
  z-index: 999;
}

.navbar .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navbar .container ul li {
  height: 100%;
  padding: 0 .5rem;
  font-weight: 500;
  line-height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .container ul li:hover {
  background-color: #1E6F5C;
}

.navbar .container ul li:hover a {
  color: white;
}

.navbar .container ul li a {
  text-decoration: none;
  color: #1E6F5C;
}

.navbar .container .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  line-height: 30px;
  top: -10px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.navbar .container .toggle input {
  position: absolute;
  width: 44px;
  height: 28px;
  opacity: 0;
  left: -8px;
  top: -4px;
  cursor: default;
}

.navbar .container .toggle span {
  background-color: #1E6F5C;
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .container .toggle span:nth-child(1) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.navbar .container .toggle span:nth-child(3) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.navbar .container .toggle .span-1 {
  -webkit-transform: rotate(45deg) translate(-1px, 1px);
          transform: rotate(45deg) translate(-1px, 1px);
  background-color: #1E6F5C;
}

.navbar .container .toggle .span-3 {
  -webkit-transform: rotate(-45deg) translate(-2px, 0);
          transform: rotate(-45deg) translate(-2px, 0);
  background-color: #1E6F5C;
}

.navbar .container .toggle .span-2 {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.carousel {
  margin-bottom: 50px;
  height: 500px;
}

.carousel .carousel-inner {
  justify-content: center;
  height: 100%;
}

.carousel .carousel-inner .carousel-item {
  justify-content: center;
}

.body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.body-content .sidebar {
  z-index: 999999;
  height: fit-content;
  background-color: #289672;
  width: 20vw;
  float: left;
  height: min-content;
  padding-bottom: 30px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.body-content .sidebar h4{
  background-color: #1E6F5C;
  padding: 1rem;
  color: white;
  font-weight: 500;
  color: #E6DD3B;  
}
.body-content .sidebar h5 {
  background-color: #1E6F5C;
  padding: 1rem;
  color: white;
  font-weight: 500;
}

.body-content .sidebar .menu .item {
  position: relative;
  cursor: pointer;
}

.body-content .sidebar .menu .item a {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 2.2rem;
  padding: 5px 2rem;
}

.body-content .sidebar .menu .item a:hover {
  color: #E6DD3B;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #1E6F5C;
}

.body-content .sidebar .menu .item a .dropdown {
  position: absolute;
  color: white;
  right: 1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.body-content .sidebar .menu .item a .rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.body-content .sidebar .menu .item a:hover .dropdown {
  color: #1E6F5C;
}

.body-content .sidebar .menu .item .sub-menu {
  background-color: #29BB89;
  display: none;
}

.body-content .sidebar .menu .item .sub-menu a {
  padding-left: 50px;
  line-height: 2rem;
  font-size: 14px;
}

.body-content .content .contact table tr,
.body-content .content .contact td {
  padding: .5rem 0;
}

.body-content .content .sub-content img {
  width: 50%;
}

.body-content .content .map .mapouter {
  position: relative;
  text-align: right;
}

.body-content .content .map .mapouter .gmap-canvas {
  overflow: hidden;
  background: none !important;
  height: 30rem;
  width: 100%;
}

.body-content .content .map .mapouter .gmap-canvas iframe {
  width: 100%;
  height: 30rem;
}

footer {
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#1E6F5C), to(#29BB89));
  background-image: linear-gradient(to right, #1E6F5C, #29BB89);
  bottom: 0;
}

footer .logo h2 span {
  color:#E6DD3B;
}

footer .row {
  color: #addda7;
}

@media screen and (max-width: 576px) {
  .navbar .container .toggle {
    opacity: 1;
  }
  .navbar ul li {
    font-size: 13px;
  }
  .carousel {
    height: 100%;
  }
  .body-content {
    position: inherit;
  }
  .body-content .sidebar {
    -webkit-transform: translate(-110%, -50%);
            transform: translate(-110%, -50%);

    position: absolute;
    width: 60vw;
    height: 80vh;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .body-content .slide {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .body-content .content {
    width: 100%;
  }
  .body-content .map .mapouter .gmap-canvas {
    height: 10rem;
  }
  .body-content .map .mapouter .gmap-canvas iframe {
    height: 10rem;
  }
  footer {
    bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */